<!DOCTYPE html>
<html>
    <head>
        <title>Modo Principiante - CQL Teacher</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="jstree/dist/jstree.min.js"></script>
        <script type="text/javascript" src="javascripts/LUPBuilder.js"></script>
        <script type="text/javascript" src="javascripts/Helper.js"></script>
        <script type="text/javascript" src="javascripts/Loadings.js"></script>
        <script type="text/javascript" src="javascripts/abstracto/AST.js"></script>
        <script type="text/javascript" src="javascripts/arbol/DataPackage.js"></script>
        <script type="text/javascript" src="javascripts/arbol/ErrorPackage.js"></script>
        <script type="text/javascript" src="javascripts/arbol/LoginPackage.js"></script>
        <script type="text/javascript" src="javascripts/arbol/MessagePackage.js"></script>
        <script type="text/javascript" src="javascripts/arbol/StructPackage.js"></script>
        <script type="text/javascript" src="grammar/LUPGrammar.js"></script>
        <script type="text/javascript" src="javascripts/blockly_compressed.js"></script>
        <script type="text/javascript" src="javascripts/blocks_compressed.js"></script>
        <script type="text/javascript" src="javascripts/javascript_compressed.js"></script>
        <script type="text/javascript" src="javascripts/blockly/Use.js"></script>
        <script type="text/javascript" src="javascripts/blockly/NormalInsert.js"></script>
        <script type="text/javascript" src="javascripts/blockly/SpecialInsert.js"></script>
        <script type="text/javascript" src="javascripts/blockly/SentenciaSelect.js"></script>
        <script type="text/javascript" src="javascripts/blockly/SentenciaWhere.js"></script>
        <script type="text/javascript" src="javascripts/blockly/SentenciaUpdate.js"></script>
        <script type="text/javascript" src="javascripts/blockly/SentenciaDelete.js"></script>
        <script type="text/javascript" src="javascripts/blockly/SentenciaLimit.js"></script>
        <script type="text/javascript" src="javascripts/blockly/SentenciaOrderBy.js"></script>
        <script type="text/javascript" src="javascripts/blockly/SentenciaSelectAll.js"></script>
        <script type="text/javascript" src="javascripts/blockly/Asignaciones.js"></script>
        <script type="text/javascript" src="javascripts/blockly/Relacionales.js"></script>
        <script type="text/javascript" src="javascripts/blockly/Aritmeticas.js"></script>
        <script type="text/javascript" src="javascripts/blockly/Logicas.js"></script>
        <script type="text/javascript" src="javascripts/blockly/LogicaNot.js"></script>
        <script type="text/javascript" src="javascripts/blockly/Primitivos.js"></script>
        <script type="text/javascript" src="javascripts/en.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/tabs.css" type="text/css" rel="stylesheet">
        <link href="jstree/dist/themes/default/style.min.css" rel="stylesheet" />
        <style>
            .consolita {
                background-color: #000 !important;
                border: 1px solid #000 !important;
                color: #00ff00 !important;
                padding: 8px;
                font-family: courier new;
                resize: none;
                white-space: pre;
                overflow-x: auto;
            }
            .errorcito {
                background-color: #ffffff !important;
                border: 1px solid #000 !important;
                color: #ff050f !important;
                padding: 8px;
                font-family: courier new;
                resize: none;
                white-space: pre;
                overflow: auto;
            }
            .consultita {
                background-color: #000 !important;
                border: 1px solid #000 !important;
                color: #17daff !important;
                padding: 8px;
                font-family: courier new;
                resize: none;
                white-space: pre;
                overflow-x: auto;
            }
            a {
                cursor:pointer;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span>CQL - Teacher</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="btn-cerrar-sesion">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">MODO PRINCIPIANTE</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Árbol de trabajo</h3>
                            </div>
                            <div class="panel-body">
                                <div id="jstree_demo_div"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel panel-primary">
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Editor de texto</h4>
                                <div class="btn-group pull-right">
                                    <a id="btn-ejecutar"><i class="fa fa-2x fa-fw fa-play text-success"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="blocklyDiv" style="height: 480px; width: 820px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Consola de salida</h3>
                            </div>
                            <div class="panel-body">
                                <div id="tab-holder-2">
                                    <ul id="ul-tab-2" class="tab2">
                                        <li><a href="#Console">Consola de Salida</a></li>
                                    </ul>
                                    <div id="div-tab-2" class="tabContainer">
                                        <div id="Console" class="tabContent2">
                                            <textarea class="form-control consolita" rows="10" id="consola-de-salida" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- AREA DE SCRIPTS -->

        <!-- ACCION DE CREAR ARBOL DE ESTRUCTURA -->
        <script type="text/javascript">

            function IsJsonString(str) {
                try {
                    JSON.parse(str);
                } catch (e) {
                    return false;
                }
                return true;
            }

            function GetWorkTree() {

                $.get("/getActualUser", function(usuario){

                    if(usuario) {

                        let lupito = LUPBuilder.BuildStructPackage(usuario);

                        $.ajax({
                            type: 'POST',
                            url : "http://localhost:58899/api/CQL",
                            data: { LUPMessage : lupito },
                            timeout: 300000,
                            error: function(jqXHR, textStatus, errorThrown) {
                                alert(Helper.GetErrorMessage(jqXHR, textStatus))
                                $.unblockUI();
                            },
                            beforeSend: function(){
                                alert("Paquete a enviar: \n\n" + lupito);
                                $.blockUI({
                                    message: ' <img src="https://i.imgur.com/GCNyjJY.gif" width="100" height="100"><strong>Por favor espere un momento...<strong>',
                                    css: {
                                        border: 'none',
                                        padding: '15px',
                                        backgroundColor: '#000',
                                        '-webkit-border-radius': '10px',
                                        '-moz-border-radius': '10px',
                                        opacity: .5,
                                        color: '#fff'
                                    }
                                });
                            },
                            success: function(data){
                                
                                alert("Paquete recibido: \n\n" + data);

                                if (data != "") {

                                    // Parseo el mensaje de LUP que debería de venir en data.
                                    let ast = LUPGrammar.parse(data);

                                    ast.ejecutar(function(finalMessages, finalErrors, finalData, finalLogin, finalStructTree){
                                        if (finalStructTree) {
                                            if (!IsJsonString(finalStructTree)) {
                                                $('#jstree_demo_div').jstree(JSON.parse(finalStructTree.replace(/'/g,'"')));
                                            }else{
                                                alert("Error. \n\n No se pudo construir el árbol de trabajo.");
                                            }
                                        }
                                    });

                                }else{
                                    alert("Error.  No se recibió ninguna respuesta del servidor sobre la petición de Struct.");
                                }

                                $.unblockUI();

                            }
                        });
                    }else{
                        alert("Error. No se pudo obtener el nombre del usuario actualmente logueado.");
                    }
                });
            }

            $(document).ready(function(){
                GetWorkTree();
            });

        </script>

        <!-- CONSOLA DE SALIDAS -->
        <script type="text/javascript">

            // Variable donde almacenare las instancias de textarea que genera CodeMirror para poder acceder al texto después.
            let consoleblocks = [];

            $(document).ready(function(){
                //hiding tab content except first one
                $(".tabContent2").not(":first").hide();
                // adding Active class to first selected tab and show
                $("ul.tab2 li:first").addClass("active").show();
                // set editor
                setConsole(document.getElementById('consola-de-salida'), 'Console');
                createNewConsole('Errores', 'consola-de-errores', 'errorcito');
            });

            function setConsole(element, idTab) {
                consoleblocks.push({
                    id: idTab,
                    instancia: element
                });
            }

            function getRandomNumber() {
                return Math.floor(Math.random() * 100);
            }

            function createNewConsole(_id, _idArea, _typeForm) {

                let num = getRandomNumber();
                let id = (_id === null) ? 'Consulta' + num : _id;
                let idArea = (_idArea === null) ? 'consola-de-salida_' + num : _idArea;
                let typeForm = (_typeForm === null) ? 'consultita' : _typeForm;

                $('#ul-tab-2').append(
                    $('<li>').append(
                        $('<a>').attr('href', '#' + id).append(id)
                    )
                );

                $('#div-tab-2').append(
                    $('<div>').attr('id', id).attr('class', 'tabContent2').attr('style', 'display:none;').append(
                        $('<textarea>').attr('id', idArea).attr('class', 'form-control ' + typeForm).attr('rows', 10).prop('readonly', true)
                    )
                );

                // Click event on tab
                $("ul.tab2 li").click(function() {

                    // Removing class of Active tab
                    $("ul.tab2 li.active").removeClass("active");
                    $("ul.tab2 li").removeClass("colorz");
                    // Adding Active class to Clicked tab
                    $(this).addClass("active");
                    $("ul.tab2 li").not( $(this) ).addClass("colorz");
                    // hiding all the tab contents
                    $(".tabContent2").hide();
                    // showing the clicked tab's content using fading effect
                    $($('a',this).attr("href")).show();

                    return false;

                });

                setConsole(document.getElementById(idArea), id);

                return idArea;

            }

        </script>

        <!-- ACCION DE BOTON CERRAR SESIÓN -->
        <script type="text/javascript">

            $(document).ready(function(){

                $('#btn-cerrar-sesion').on('click', function(){

                    $.get("/getActualUser", function(usuario){

                        if(usuario) {

                            let lupito = LUPBuilder.BuildLogout(usuario);

                            $.ajax({

                                type: 'POST',
                                url : "http://localhost:58899/api/CQL",
                                data: { LUPMessage : lupito },
                                timeout: 5000,

                                error: function(jqXHR, textStatus, errorThrown) {
                                    alert(Helper.GetErrorMessage(jqXHR, textStatus))
                                    $.unblockUI();
                                },

                                beforeSend: function(){
                                    alert("Paquete a enviar: \n\n" + lupito);
                                    $.blockUI({
                                        message: ' <img src="https://i.imgur.com/GCNyjJY.gif" width="100" height="100"><strong>Por favor espere un momento...<strong>',
                                        css: {
                                            border: 'none',
                                            padding: '15px',
                                            backgroundColor: '#000',
                                            '-webkit-border-radius': '10px',
                                            '-moz-border-radius': '10px',
                                            opacity: .5,
                                            color: '#fff'
                                        }
                                    });
                                },

                                success: function(data){

                                    if (data != "") {
                                        
                                        alert("Paquete recibido: \n\n" + data);

                                        // Parseo el mensaje de LUP que debería de venir en data.
                                        let ast = LUPGrammar.parse(data);

                                        ast.ejecutar(function(finalMessages, finalErrors, finalData, finalLogin){

                                            if (finalLogin) {

                                                $.get("/logout", function(datax){
                                                    if(datax === 'done') {
                                                        window.location.href = "/";
                                                    }
                                                });

                                            }else{
                                                alert("Error. No se puede desloguear del sistema.");
                                            }

                                        });

                                    }else{
                                        alert("Error.  No se recibió ninguna respuesta del servidor sobre la petición de Logout.");
                                    }

                                    $.unblockUI();
                                }

                            });

                        }else{
                            alert("Error. No se pudo obtener el nombre del usuario actualmente logueado.");
                        }

                    });

                });

            });

        </script>

        <!-- ACCION DE BOTON EJECUTAR -->
        <script type="text/javascript">

            $(document).ready(function(){

                $('#btn-ejecutar').on('click', function(){
                    let codigo = GetBlocklyCode();
                    if (codigo != "") {
                        SendToServer(codigo);
                    }else{
                        alert("Error.  Debes dibujar estructuras de blockly para enviarlo al servidor.");
                    }
                });

                function SendToServer(input) {

                    $('#consola-de-salida').val("");
                    $('#consola-de-errores').val("");

                    $.get("/getActualUser", function(usuario){

                        if(usuario) {

                            let lupito = LUPBuilder.BuildQueryPackage(usuario, input);

                            $.ajax({
                                type: 'POST',
                                url : "http://localhost:58899/api/CQL",
                                data: { LUPMessage : lupito },
                                timeout: 300000,
                                error: function(jqXHR, textStatus, errorThrown) {
                                    alert(Helper.GetErrorMessage(jqXHR, textStatus))
                                    $.unblockUI();
                                },
                                beforeSend: function(){
                                    alert("Paquete a enviar: \n\n" + lupito);
                                    $.blockUI({
                                        message: ' <img src="https://i.imgur.com/GCNyjJY.gif" width="100" height="100"><strong>Por favor espere un momento...<strong>',
                                        css: {
                                            border: 'none',
                                            padding: '15px',
                                            backgroundColor: '#000',
                                            '-webkit-border-radius': '10px',
                                            '-moz-border-radius': '10px',
                                            opacity: .5,
                                            color: '#fff'
                                        }
                                    });
                                },
                                success: function(data){

                                    if (data != "") {
                                        
                                        alert("Paquete recibido: \n\n" + data);
                                        console.log(data);

                                        // Parseo el mensaje de LUP que debería de venir en data.
                                        let ast = LUPGrammar.parse(data);

                                        ast.ejecutar(function(finalMessages, finalErrors, finalData, finalLogin){

                                            console.log(finalMessages);
                                            console.log(finalErrors);
                                            console.log(finalData);
                                            console.log(finalLogin);

                                            // Agrego los mensajes en la pestaña de Consola de Salida.
                                            if(finalMessages) {
                                                let consola = $('#consola-de-salida');
                                                consola.val(consola.val() + finalMessages);
                                            }

                                            // Agrego las consultas en nuevas consolas.
                                            if(finalData.length != 0) {
                                                $.each(finalData, function( key, value ) {
                                                    let _id_ = createNewConsole(null, null, null);
                                                    $('#' + _id_).val(value);
                                                });
                                            }

                                            // Agrego los errores en la pestaña de errores.
                                            if(finalErrors) {
                                                $.post("/buildTable", {querydata:finalErrors}, function(datax){
                                                    $('#consola-de-errores').val(datax);
                                                });
                                            }

                                        });

                                    }else{
                                        alert("Error.  No se recibió ninguna respuesta del servidor sobre la petición de Query.");
                                    }

                                    $.unblockUI();
                                }
                            });

                        }else{
                            alert("Error. No se pudo obtener el nombre del usuario actualmente logueado.");
                        }

                    });

                }

            });

        </script>
    
        <!-- AREA DE XML's -->
        <xml id="toolbox" style="display: none">
            <category name="SENTENCIAS">
                <block type="sentencia_use" colour="120"></block>
                <block type="sentencia_insert_normal" colour="120"></block>
                <block type="sentencia_insert_especial" colour="120"></block>
                <block type="sentencia_select" colour="120"></block>
                <block type="sentencia_where" colour="120"></block>
                <block type="sentencia_update" colour="120"></block>
                <block type="sentencia_delete" colour="120"></block>
                <block type="sentencia_limit" colour="120"></block>
                <block type="sentencia_order_by" colour="120"></block>
            </category>
            <category name="ATRIBUTOS">
                <block type="all_block" colour="125"></block>
                <block type="expresion" colour="125"></block>
                <block type="expresion_otro" colour="125"></block>
            </category>
            <category name="OPERADORES">
                <block type="relacionales" colour="130"></block>
                <block type="aritmeticas" colour="130"></block>
                <block type="logicas" colour="130"></block>
                <block type="logica_not" colour="130"></block>
                <block type="asignacion" colour="130"></block>
                <block type="up_down_relacionales" colour="130"></block>
                <block type="up_down_aritmeticas" colour="130"></block>
                <block type="up_down_logicas" colour="130"></block>
                <block type="up_down_asignacion" colour="130"></block>
            </category>
            <category name="VALORES">
                <block type="entero" colour="135"></block>
                <block type="decimal" colour="135"></block>
                <block type="booleano" colour="135"></block>
                <block type="expresion" colour="135"></block>
            </category>
        </xml>

        <!-- AREA DE BLOCKLY -->
        <script>
            var demoWorkspace = Blockly.inject('blocklyDiv', { media: 'media/', toolbox: document.getElementById('toolbox') });
            
            function GetBlocklyCode() {
                // Generate JavaScript code and display it.
                Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
                var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
                return code;
            }
        </script>

    </body>
</html>